<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/QueueSDK.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory="coverage" lowUpperBound="70" highLowerBound="90"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
            <clover outputFile="coverage/clover.xml"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
        <env name="QUEUE_LOG_LEVEL" value="error"/>
        <env name="QUEUE_MAX_RETRY_ATTEMPTS" value="1"/>
        <env name="QUEUE_RETRY_DELAY" value="1"/>
    </php>

    <logging>
        <junit outputFile="coverage/junit.xml"/>
    </logging>
</phpunit>
